.logoNtfc {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
}


.imgNtfc {
    height: 20px;
    width: 20px;
    margin-top: 14px;
    margin-bottom: 14px;

}


.blok3 {
    
}

